* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #755454; */
}

.container{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
}

.main-img{
    display: flex;
    justify-content: center;
    width: 100%;
}


.main-img img{
    width: 1349px;
    /* height: 800px; */
}

.fix-img{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    width: 1349px;
}

.fix-img .img-fix{
    width: 1349px;
    opacity: .5;
    height: 700px;
    background: url(/image/butterfly.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

h3{
    position: absolute;
}

.add-img{
    width: 100%;
    margin-top: 90px;
    display: flex;
    margin-left: 80px;
    align-items: center;
    background: transparent;
}

.img1,
.img2{
    background: none;
    width: 300px;
    height: 400px;
    border: 1px solid;
}

.about-img{
    margin-left: 30px;
}

.add-img1{
    width: 100%;
    margin-top: 90px;
    position: relative;
    display: flex;
    margin-left: -80px;
    align-items: center;
    justify-content: right;
    margin-bottom: 60px;
}

.about-img1{
    width: 500px;
    height: 400px;
    background: transparent;
    border-radius: 5px 0 0 5px;
    align-items: center;
    text-align: center;
    justify-content: center;
}